.chat-container {
  display: grid;
  /* topbar, messages, input/footer */
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background-color: var(--bg-chat);
  position: relative;
}

.disclaimer {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(7px);
  color: var(--text-muted);
  padding: 12px;
}

.disclaimer a {
  color: var(--text-muted-medium);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.disclaimer a:hover {
  color: var(--text-muted-strong);
}
